.section-four{
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(90deg, #160942 0%, #3817A8 100%);
}

.section-four .liquify{
    position: relative;
}

  .section-four .liquify::after{
    position: absolute;
    content: url(./public/caminho.png);
    bottom: -230px;
    left: 20px;
  }

.section-four .main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.section-four .objective{
    display: flex;
    position: relative;
}

.section-four .text{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
}

.section-four .text h1{
    color: #EE9B11;
    font-weight: 600;
}

.section-four .text h3{
    color: #EAEAEA;
    font-weight: 300;
}

.what-we-want{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
}

.what-we-want h1{
    color: #EE9B11;
    font-weight: 600;
}

.what-we-want h3{
    color: #EAEAEA;
    font-weight: 300;
}