.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, #160942 0%, #3817A8 100%);
}

.section-four .liquify{
    position: relative;
    bottom: 8px;
}

  .section-four .liquify::after{
    position: absolute;
    content: url(./public/caminho.png);
    bottom: -150px;
    left: 15%;
  }

.section-four .main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.section-four .objective{
    display: flex;
    position: relative;
}

.section-four .text{
    display: flex;
    flex-direction: column;
    gap: 5%;
    text-align: center;
    width: 500px;
}

.section-four .text h1{
    color: #EE9B11;
    font-weight: 600;
}

.section-four .text h3{
    color: #EAEAEA;
    font-weight: 300;
}

.what-we-want{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 100%;
    width: 400px;
    gap: 10px;
}

.what-we-want h1{
    color: #EE9B11;
    font-weight: 600;
}

.what-we-want h3{
    color: #EAEAEA;
    font-weight: 300;
}

.objective::before{
    position: absolute;
    content: url(./public/arrow.png);
    top: 45%;
    left: 30%;
}

.objective::after{
    position: absolute;
    content: url(./public/arrow_2.png);
    bottom: 320px;
    left: 760px;
}

.section-four .what-we-want::before{
    position: absolute;
    content: url(./public/arrow_3.png);
    top: 100px;
    right: 350px;
}