.Position {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle,
    #bfaf93,
    #cbbb9c,
    #d6c7a5,
    #e2d3af,
    #ede0b8
  );
  position: relative;
}

.layoutPosition {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  padding: 5vh 2vh;
  width: 100%;
}

.TitlePosition h1 {
  width: 80%;
  margin: 0 auto;
  color: #3D1B11;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
}

.paragraphPosition {
  font-weight: 400;
  color: #877f55;
  text-align: center;
  margin-bottom: 1vh;
  border-bottom: 2px solid #9e804a;
}

.contents {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}

.inputPosition,
.doubleInput {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputPosition input,
.doubleInput input {
  width: 100%;
  height: 6vh;
  border: none;
  background-color: #ee9b11;
  border-radius: 30px;
  color: #865c17;
  text-align: center;
  padding: 0 1rem;
  outline: none;
}

.doubleInput {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.doubleInput p{
  text-align: center;
}

.buttonStudent {
  display: flex;
  width: 80%;
  margin-top: 2vh;
}

.buttonStudent button {
  width: 100%;
  height: 10vh;
  padding: 1vh;
  border: 4px solid black;
  background-color: transparent;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.buttonStudent button:hover {
  background-color: white;
  transition: all ease-in 0.4s;
}

.buttonStudent button:active {
  background-color: black;
  color: white;
}

.buttonStudent button img{
  width: 3vh;
  height: 3vh;
  margin-left: 1vh;
}

.buttonsMoving {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 3vh;
}

.buttonsMoving button {
  width: 100%;
  padding: 1vh;
  border: 5px solid #ee9b11;
  border-radius: 3vh;
  background-color: #ee9b11;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonsMoving button:hover {
  background-color: white;
  color: black;
}

.buttonsMoving button:active {
  background-color: #ee9b11;
  color: white;
}




@media (max-width:1024px){
  .TitlePosition h1{
    font-size: 2.0rem;
  }

  .inputPosition input::placeholder{
    font-size: 1.0rem;
  }

}

@media (max-width:768px){
  .TitlePosition h1{
   font-size: 1.5rem; 
  }

  .inputPosition input::placeholder{
    font-size: 0.8rem;
  }

  
}