.tagsPage{
display: flex;
width: 100%;
height: 83vh;
align-items: center;
justify-content: center;
text-align: center;
background-image: linear-gradient(to left, #fdf6cb, #fdf6c6, #fef5c0, #fef5bb, #fef4b5, #fef3b0, #fef3ac, #fef2a7, #fef1a2, #fef09c, #ffef97, #ffee91);
}

.layoutTags{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.tagsTitle h1{
    font-weight: bold;
    color: #000000;
}

.SubtitleTags{
    font-weight: 400;
    color: #8B8669;
}

/* Estilo do corpo para centralizar o conteúdo */


/* Contêiner do input */
.search {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search input{
    background-color: #333; /* Cor de fundo escura */
    border-radius: 10vh;   /* Borda arredondada */
    padding: 1vh 3vh;
    width: 35vh;
}

/* Ícone de busca */
.input-icon {
    width: 4vh;
    height: 4vh;
    margin-right: 1vh;
}

/* Campo de entrada */
.input-field {
    background: none;
    border: none;
    outline: none;
    color: #ddd; /* Cor do texto */
    width: 100%;
    font-size: 1.7vh;
}

/* Placeholder customizado */
.input-field::placeholder {
    color: #aaa; /* Cor do placeholder */
}



/* Contêiner principal */
.tagsLanguages {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
    max-width: 100vh;
}

/* Estilo das tags */
/* Estilo base das tags */
.tag {
    background-color: #ffa500;
    color: white;
    text-align: center;
    height: 4vh;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Transição suave */
}

/* Efeito ao passar o mouse sobre a tag */
.tag:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 20% */
}


.buttonArea{
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: white;
}

.buttonArea{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.continueButton button{
    background-color: #FFA500;
    border-radius: 3vh;
    width: 18vh;
    height: 6vh;
    font-size: 2.5vh;
    font-weight: bold;
    border: 3px solid #FFA500 ;
}

.continueButton button:active{
    background-color: white;
    border: #FFA500;
    color: #000000;
    border: 3px solid #FFA500 ;
}

