@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.sectionDescriptionProjects {
  width: 95%;
  margin: auto;
  background-color: white;
  padding: 5vh;
  border-radius: 20px;
  border: 7px solid #e6e6e6;

  & .principalProject {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5vh;
  }

  & .perfil {
    display: flex;
    flex-direction: column;

    & p {
      font-size: 1.3rem;
      font-weight: 400;
    }

    & img {
      width: 10vh;
    }

    & .img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      gap: 2vh;
      margin-bottom: 2vh;
    }
  }
  & .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

    & h1 {
      text-align: center;
      width: 70%;
      font-weight: 600;
    }
    & h2 {
      font-weight: 500;
    }
    & .ilustrations {
      width: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2vh;

      & p {
        margin: 0.5vh 0vh;
        font-weight: 600;
        border: 2px solid #ee9b11;
        padding: 0.5vh;
        border-radius: 30px;
      }
    }
  }
  & .assets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .closePage {
      display: flex;
      justify-content: flex-end;
    }

    & .moneyAnHoney {
      display: flex;
      flex-direction: row;
      gap: 5vh;

      & .honey,
      .money {
        display: flex;
        flex-direction: row;
        gap: 1vh;
      }

      & img {
        width: 4vh;
      }

      & p {
        font-size: 1.5rem;
        font-weight: 600;
        margin: auto;
      }
    }
    & .icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1vh;
    }

    & button {
      background-color: #341088; /* Cor roxa */
      color: #ee9b11; /* Cor laranja para o texto */
      border: none;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      border-radius: 30px;
      cursor: pointer;
      transition: transform 0.2s ease, background-color 0.2s ease;
    }
    & button:hover {
      background-color: #6a00a0; /* Cor roxa mais clara para hover */
      transform: scale(1.05);
    }

    & button:active {
      transform: scale(0.95);
    }
  }
  & .descriptionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vh;

    & .description {
      display: flex;
      flex-direction: column;
      width: 20%;
      text-align: center;
      font-size: 1.3rem;
      gap: 2vh;
    }

    & .tags {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 2vh;
      width: 30%;
      flex-direction: column;

      & h1 {
        font-size: 2rem;
      }

      & .tagsContents {
        display: flex;
        flex-wrap: wrap;
        gap: 1vh;

        & .tag {
          background-color: #ffa500;
          color: #000;
          text-align: center;
          height: 4rem;
          padding: 1rem;
          border-radius: 10rem;
          font-size: 1.2rem;
          cursor: pointer;
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }
  & .imagesProjects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin: 5vh;

    & .img {
      & img {
        border-radius: 2vh;
        width: 100%;
        height: 60vh;
      }
    }

    & .arrowleft,
    .arrowRight {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10vh;
      height: 10vh;
      border-radius: 100%;
      background-color: #ee9b11;
    }
  }
}
