.section-three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #f9d504 0%, #ee911b 100%);
  height: 100vh;

  & h1 {
    position: relative;
    color: #3d1b11;
  }
}

.section-three .membros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 0 1.6rem;
}

.section-three .the-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-three .membros .cartao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  text-align: center;
  background-color: #eaeaea;
  border: 7px solid #ee911b;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;

  & h2 {
    font-size: 14px;
    font-weight: 600;
    color: #1e1d1d;
  }

  & img{
    width: 130px;
  }
}

.section-three #lower-liquify3 {
  position: relative;
  top: 9px;
}
