.section-three{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #F9D504 0%, #EE911B  100%);

    & .liquify3{
        position: relative;
        bottom: 17px;
    }

    & .lower-liquify3{
        position: relative;
        top: 1px;
    }
}

.section-three .membros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1300px;
    height: 100%;
    gap: 5%;
}

.section-three .membros .cartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 267px;
    text-align: center;
    background-color: #EAEAEA;
    border: 5px solid #EE911B;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 50%;

    & h2{
        font-size: 18px;
        font-weight: 600;
        color: #1E1D1D;
    }
}