.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  max-width: 30rem;
  background-color: #fff;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  gap: 3px;

  & span {
    font-weight: 600;
  }

  & #percentage {
    font-size: 12px;
    font-weight: 400;
  }

  & h2 {
    font-size: 20px;
    font-weight: 700;
  }

  .status {
    display: block;
    flex-direction: column;
    min-width: 65%;
    height: 1.2rem;
    border-radius: 30px;
    background: #cacaca;

    & .status-filled {
      height: 100%;
      border-radius: 30px;
    }
  }
}
