.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  max-width: 100%;
  gap: 5px;

  & .social-media{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;

    & i{
      font-size: 2rem;
      margin-right: 10px;
    }

    & .account{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      & .username{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
      }

      & #link{
        color: blue;
        font-weight: 700;
        text-decoration: none;
        filter: opacity(0.5);
      }
    }
  }

  & span {
    margin: 0;
    font-weight: 600;
  }

  & #percentage {
    font-size: 12px;
    font-weight: 400;
  }

  & h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #7100B2;
    font-weight: 600;
  }

  .status {
    display: block;
    flex-direction: column;
    min-width: 65%;
    height: 1.2rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: #cacaca;

    & .status-filled {
      height: 100%;
      border-radius: 30px;
    }
  }
}
