.feed {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  max-width: 59vw;
  border-radius: 20px;
  border: 7px solid #e6e6e6;
  padding: 20px;
  margin: 10px;
  margin-top: 1vh;

  & .feedLayout {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & .post {
      width: 80%;
      height: 100%;

      & .postHeader {
        display: flex;
        width: 100%;
        height: 5vh;
        margin: 10px;
        align-items: center;
        justify-content: flex-start;
        padding: 0vh 5vh;
        flex-direction: row;
        gap: 1vh;

        & .imagePerfil {
          
          width: 5vh;
          height: 5vh;
          border: 2px solid black;
          border-radius: 50%;
          align-items: center;

        & svg {
          position: relative;
          right: 2.4px;
        }
        }
        & .namePerfil {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }

        .decorationNamePerfil {
          font-size: 6vh;
          margin-bottom: 1vh;
        }
        & .Explication {
          height: 100%;
          font-weight: 400;
        }
        & .namePerfil p,
        .explication p {
          margin: 0;
        }
      }

      & .publication {
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        border-bottom: 2px solid #B3B3B3;
      }
      & .publication img {
        width: 90%;
        margin: auto;

        
      }
      & .rightIcon{
        position: relative;
        left: 12vh;
      }
      & .iconComents {
        width: 90%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 7vh;
        flex-direction: row;
      }

      & .iconComents .leftIcons,
      .iconComents .rightIcon {
        display: flex;
        align-items: center;
      }

      & .iconComents img {
        width: 3.5vh;
        margin-right: 1vh; /* Ajuste o espaçamento entre os ícones, se necessário */
      }

      & .iconComents .rightIcon img {
        margin-right: 0; /* Remove o espaçamento extra para o último ícone */
      }

      & .flag img {
        width: 5vh;
        height: 10vh;
      }
      & .coments {
        width: 90%;
        padding: 10px;
        display: flex;
        margin-left: 6vh;
        flex-direction: row;
        gap: 2.5vh;

       

        & .nameComents {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 1vh;
          font-weight: bold;
          margin: auto;
        }
        & .nameComents img {
          width: 2.5vh;
          height: 2.5vh;
          height: 100%;
          margin-bottom: 2vh;
        }

        & .comentsText {
          font-weight: 400;
          font-size: 1.8vh;
          
        }
      }
      & .moreComents {
        font-size: 2vh;
        color: #626262;
      }
    }
  }
}
