.home-page {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;

  & .left-side {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    background: white;
    border: 7px solid #e6e6e6;
    border-radius: 20px;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0px 5px 0px 0px;
    position: sticky;
    

    & .acquire-premium {
      font-weight: 700;
      font-size: 3vh;
    }

    & .hierarchy {
      padding: 2rem;
      text-decoration: none;
      border-radius: 20px;
      font-size: 1.5vh;

      & span {
        background-image: linear-gradient(
          90deg,
          rgba(234, 234, 234, 1) 0%,
          rgba(249, 213, 4, 1) 100%
        );
        background-size: 100%;
        background-repeat: repeat;
        font-weight: 700;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
      }
    }

    & .hierarchy2 {
      padding: 2rem;
      text-decoration: none;
      border-radius: 20px;
      font-size: 1.5vh;

      & span {
        background-image: linear-gradient(90deg, #7100b2 0%, #1e1d1d 100%);
        background-size: 100%;
        background-repeat: repeat;
        font-weight: 700;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
      }
    }

    & .hierarchy3 {
      padding: 2rem;
      text-decoration: none;
      border: 4px solid #000;
      border-radius: 20px;
      background: #ee9b11;
      z-index: 1;

      & span {
        font-weight: 700;
        color: #000;
      }
    }

    & .profile {
      display: flex;
      align-items: center;
      gap: 10px;

      & .profile-picture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        border-radius: 150em;
        border: 3px solid #1e1d1d;

        & svg {
          position: relative;
          
          width: 100%;
          height: 100%;
        }
      }

      & .profile-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 15rem;
        gap: 10px;

        & #nickname {
          font-weight: 700;
        }

        & .level-box {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 30px;
          background: #f9d504;
          padding: 3px 15px;

          & #nivel {
            font-weight: 600;
          }
        }

        & .level-box::after,
        .level-box::before {
          display: block;
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          width: 106%;
          height: 100%;
          background-image: conic-gradient(
            from var(--angle),
            #ee9b11,
            #2800b1,
            #7100b2,
            #ee9b11
          );
          padding: 18px;
          border-radius: 50px;
          z-index: -1;
          animation: 3s spin linear infinite;
        }

        .level-box::before {
          filter: blur(0.3rem);
          opacity: 0.5;
        }
      }

      & .progress-bar {
        width: 100%;
        height: 20px;
        background: #cacaca;
        border-radius: 20px;

        & .progress-filled {
          height: 100%;
          width: 65%;
          background-color: #7100b2;
        }
      }
    }

    & .statisticsHome {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .dados {
        display: flex;
        gap: 20px;

        & h2 {
          font-size: 24px;
        }

        & .cartao {
          display: flex;
          flex-direction: column;
          align-items: center;

          & h3 {
            color: #7100b2;
            font-weight: 700;
            font-size: 3vh;
          }
        }
      }
    }
    & .user-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: justify;

      & h2 {
        color: #ee9b11;
        font-weight: 700;
      }

      & p {
        width: 25rem;
      }
    }
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
