@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Estilo global */

.footer {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5px;
  list-style: 1.5;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.FooterLogo {
  width: 270px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 20px;
}

.logoFooterImg img {
  width: 40px;
  height: 45px;
}

.Point {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  font-size: 30px;
}

.FooterSymbee h3 {
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  margin-top: 3px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  padding: 5px;
  background-color: #270a62;
  border-radius: 10px;
  margin-bottom: 15px;
}

.iconsSocialNetworks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.iconsSocialNetworks img {
  width: 30px;
  height: 30px;
}

.FooterContents,
.footer h3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  font-weight: bold;
}

.FooterContents,
a {
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  max-width: 100%;
}

.GeralLinks,
.symbeeContentFooterLinks,
.BusinessLinks,
.DiretorioLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.business {
  margin-bottom: 60px;
}

.Diretorio {
  margin-top: 22px;
}
