

.ranking {
  max-width: 450px;
  background-color: white;
  border: 7px solid #e6e6e6;
  border-radius: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px;
  margin: 10px 0px 0px 5px;
  position: sticky;
  top: 0;
  height: 100%;

  & .layoutRanking {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 3vh;

    & #titleRanking {
      width: 100%;
      font-size: 3vh;
      font-weight: 700;
      display: flex;
      justify-content: center;
    }

    & .see-all {
      cursor: pointer;
    }

    & .see-all span {
      position: relative;
      color: #eaeaea;
      background: #1e1d1d;
      font-size: 15px;
      font-weight: 600;
      border-radius: 20px;
      z-index: 1;
      padding: 10px 30px;
    }

    & .see-all span::after,
    .see-all span::before {
      content: "";
      position: absolute;
      background-image: conic-gradient(
        from var(--angle),
        #2800b1,
        #7100b2,
        #2800b1
      );
      z-index: -1;
      height: 100%;
      width: 104%;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      padding: 23px;
      border-radius: 30px;
      animation: 3s spin linear infinite;
    }

    .see-all span::before {
      filter: blur(0.7rem);
      opacity: 0.7;
    }
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
