@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.LoginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(
    circle,
    #e7ddb8,
    #dcd2af,
    #d1c7a7,
    #c7bd9e,
    #bcb296
  );

  
  & .layout {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    & .LogoSvg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;

      & img {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    & .fieldInformations {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 10vh;
      margin-left: 5vh;
      width: 50%;
      height: 100%;
      padding: 2vh;
      border-radius: 10px;

      & .terms {
        color: #ee9b11;
        font-weight: bold;
        margin-left: 5px;
        text-decoration: none;
      }

      & .terms:hover {
        text-decoration: underline;
      }

      & .register {
        display: flex;
        justify-content: center;
        & button {
          width: 50%;
          height: 9.5vh;
          box-shadow: 3px -5px 0px 2px #7e6f16;
          background-image: linear-gradient(
            to right,
            #f9d504,
            #f8d403,
            #f7c701,
            #efa20f
          );
          color: rgb(0, 0, 0);
          border: none;
          border-radius: 10px;
          font-size: 1.8em;
          font-weight: bold;
          cursor: pointer;
          margin-top: 2vh;
        }
      }
      & .checkbox {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #333;
        margin: 10vh;

        & input[type="checkbox"] {
          appearance: none;
          width: 20px;
          height: 20px;
          border: 2px solid #ee9b11;
          border-radius: 3px;
          margin-right: 1vh;
          cursor: pointer;
        }

        & input[type="checkbox"]:checked {
          background-color: #ee9b11;
        }

        & input[type="checkbox"]:checked::after {
          content: "✔";
          position: absolute;
          left: 4px;
          top: -2px;
          font-size: 16px;
          color: white;
        }
      }

      & .outerInf {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2vh;

        & input {
          background-color: #eaeaea;
          width: 100%;
          height: 5vh;
          border: none;
          border-radius: 15px;
          color: #757575;
          padding: 0 1vh;
          font-size: 1em;
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
          outline: none;
        }
      }

      & .titleInf h2 {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 10vh;
        margin: 2vh;
        display: flex;
        color: #ff9d00;
        font-size: 2em;
        font-weight: bold;
      }
    }
  }
}

.checkbox label {
  cursor: pointer;
  color: #333;
}

/* Breakpoints */
@media (max-width: 1880px) {
  .LoginPage {
    width: 100%;
    height: 100%;
  }
  .fieldInformations {
    width: 40%;
  }
}

@media (max-width: 1440px) {
  .LoginPage {
    width: 100%;
    height: 100%;
  }
  .fieldInformations {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .LogoSvg {
    display: none;
  }
  .container-principal {
    width: 100%;
    padding: 0;
  }
  .sidebar {
    display: none;
  }
  .input-field {
    max-width: 100%;
    padding: 0;
  }
}

@media (max-width: 834px) {
  .LoginPage {
    width: 100%;
    height: 100%;
  }
  .LogoSvg {
    display: none;
  }

  .register button {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .LogoSvg {
    display: none;
  }

  .fieldInformations {
    width: 100%;
  }

  .register button {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .LoginPage {
    height: 91vh;
  }

  .fieldInformations {
    width: 100%;
    padding: 1vh;
  }

  .outerInf input {
    height: 7vh;
  }

  .register button {
    width: 60%;
    font-size: 1.5em;
  }
}
