.PositionContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle,
    #bfaf93,
    #cbbb9c,
    #d6c7a5,
    #e2d3af,
    #ede0b8
  );
  position: relative;
}

.LayoutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  padding: 5vh 2vh;
  width: 100%;
}

.TitleContainer h1 {
  width: 80%;
  margin: 0 auto;
  color: #3d1b11;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
}

.SubtitleContainer {
  font-weight: 400;
  color: #865c17;
  text-align: center;
  margin-bottom: 1vh;
  border-bottom: 2px solid #9e804a;
}

.ContentContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}

.InputWrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputWrapper input {
  width: 100%;
  height: 6vh;
  border: none;
  background-color: #ee9b11;
  border-radius: 30px;
  color: #865c17;
  text-align: center;
  padding: 0 1rem;
  outline: none;
}

input::placeholder{
  color: #865c17;
}

.buttonEmpregado {
  display: flex;
  width: 80%;
  margin-top: 2vh;
}

.buttonEmpregado button {
  width: 100%;
  height: 10vh;
  padding: 1vh;
  gap: 1vh;
  border: 4px solid black;
  background-color: transparent;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.buttonEmpregado button:hover {
  background-color: white;
  transition: all ease-in 0.4s;
}

.buttonEmpregado button:active {
  background-color: black;
  color: white;
}

.buttonStudent button img {
  width: 3vh;
  height: 3vh;
  margin-left: 1vh;
}

.moveButtons {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContinueButton, .BackButton {
  width: 10%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.ContinueButton button,
.BackButton button {
  background-color: #ffa500;
  border-radius: 3vh;
  width: 18vh;
  height: 6vh;
  margin: auto;
  font-size: 2.5vh;
  font-weight: bold;
  border: 3px solid #ffa500;
}

.ContinueButton button:active,
.BackButton button:active {
  background-color: white;
  border: #ffa500;
  color: #000000;
  border: 3px solid #ffa500;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .PositionContainer {
    width: 100%;
  }

  .LayoutContainer {
    width: 100%;
    padding: 0;
  }
  .TitleContainer {
    width: 100%;
    height: 30%;
  }
  .TitleContainer h1 {
    font-size: 1.5rem;
  }

  .InputWrapper input::placeholder {
    font-size: 0.7rem;
  }
}

@media (max-width: 412px) {
  .PositionContainer {
    width: 100%;
  }

  .LayoutContainer {
    width: 100%;

    padding: 0;
  }
  .TitleContainer {
    width: 100%;
  }
  .TitleContainer h1 {
    max-width: 100%;
    font-size: 1.2rem;
  }

  .InputWrapper input::placeholder {
    font-size: 0.7rem;
  }
}
